* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: white;
    display:flex;
    width: 100%;
    height: 240px;
    justify-content: space-between;
    border-bottom: 20px solid #006D77 ;
    
}

.header_logo {
    display: block;
    padding: 8px;
    margin-top: 62px;
    margin-left: 20px;
}

.header_nav {
    margin-top: 90px;
    list-style: none;
    padding-right: 20px;
    background-color:   white;
}

.header_nav_item {
    display:inline-block;
}

.header_nav_item a {
    font-size: 24px;
    font-weight: bold;
    color: #006D77;
    padding: 14px 16px;
    margin-left: 20px;
}

.header_nav_item a:hover {
    background-color: #FFDDD2;
    color: #004C4C;
}



.main {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.aside {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 280px;
    margin-left: 0%;
    background-color: #EDF6F9;
}

.aside_button {
    background-color: #004C4C;
    padding: 14px 24px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}


.contenedor {
    display: flex;
    position: relative;
    justify-content:flex-start;
    height: 100%;
    width: 100%;
}

.more{
    border: 1px;
    padding-top: 1px;
    width: 200px;
    transition-duration: 0.4s;
}
.more:hover{
        background-color: #4CAF50; /* Green */
        color: white;
        cursor: pointer;
}


.main_section {
    background-color: white;
    width: 100%;
    height: 800px;
    margin-left: 280px;
    padding: 40px;
    justify-content: center;

    /*
    AREA PARA EL CONTENIDO PARTICULAR  DE CADA SECCIÓN
    */
}

.main_titulo {
    width: 100%;
    font-size: 32px;
}

.wrap{
	width: 1100px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
	margin: 40px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 320px;
	height: 320px;
	background: #FFDDD2;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.25);

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
    display: flex;
    flex-direction: column;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 16px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: left;

	text-align: left;
	color: #000;
	font-family: "open sans";
    background: white;
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url(http://1.1m.yt/J9Kw7kl.jpg);
	background-size: cover;
}

.card2{
	background-image: url(http://1.1m.yt/dlxMf3R.jpg);
	background-size: cover;
}

.card3{
	background-image: url(http://3.1m.yt/EUB_xE.jpg);
	background-size: cover;
}


.card_head {
    margin-left: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 700;
}

.card_ubicacion {
    margin-left: 16px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
    color: #006D77;
}

.card_precio {
    font-size: 24px;
    font-weight: 700;
    color: #006D77;
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.card_titulo {
    font-size: 24px;
    font-weight: 700;
}

.card_preciototal {
    font-size: 24px;
    font-weight: 500;
    color: #006D77;
}

.card_dato {
    font-size: 20px;
    font-weight: 700;
}

.card_valor {
    font-size: 20px;
    font-weight: 500;
    color: #006D77;

}

















.footer {
    display:flex;
    position: absolute;
    bottom: 0;
    align-items: flex-start;
    height: 200px;
    width: 100%;
    margin-left: 280px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #83C5BE ;
}


.footer_desarrolladores{
    margin-left: 45px;
    margin-top: 24px;
}

.footer_item {
    list-style: none;
}

.footer_contactanos {
    margin-left: 135px;
    margin-top: 24px;
}

body{
    background-color: white;
}

.oscuro{ 
    background-color: #0e0d0d; 
    color: #f1eded; 
}